/* HEADER
------------------------------------------------------------------------------*/

.container { margin: auto; width: 972px; }
.header {
	background: url('images/new_images/header_bg.jpg') no-repeat;
	background-size: cover;
	height: 87px;
}
.header .container { margin: auto;  width: 98%; }
.header h1 { margin: 0; padding-bottom: 3px; padding-right: 15px; }
.header .nav { display: block; margin: auto; padding-top: 34px; width: 1255px; }
.header .nav a {
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto Condensed';
	text-decoration: none;
	margin: 5px 0 0 5px;
	font-size: 14px;
}

.header .nav td:nth-of-type(2) { padding-left: 32px; }
.header .nav td > a:first-of-type  { border-right: 1px solid #646464; padding: 10px 10px 0 10px; }
.header .nav .fa-caret-down { margin-left: 7px; }

.header .nav td {
	display: table-cell;
	padding: 7px 0 10px;
	position: relative;
	vertical-align: bottom;
}
.header .nav td:last-child {
	display: block;
	margin-left: 15px;
	margin-top: 15px;
	padding: 0;
}
.header .nav td:nth-last-child(2) a,
.header .nav td:last-child a { border-right: none; }
.header .nav td:hover .sub-menu { display: block; }
.header .nav td:hover .fa-caret-down { color: #C1272D; }
.header .nav td > .sub-menu {
	background-color: #2C2C2C;
	display: none;
	list-style: none;
	padding: 0 20px;
	position: absolute;
	right: 0;
	width: 180px;
	margin-top: 8px;
}
.header .nav td .sub-menu:hover { display: block; }
.header .nav td > .sub-menu li { border-bottom: 1px solid #646464; text-align: left; }
.header .nav td > .sub-menu li:last-of-type { border-bottom: none; }
.header .nav td > .sub-menu a { display: block; margin: 7px; }

.header .nav td .active-menu {
	border-top: 3px solid #C1272D;
}
.image-wrapp { height: 200px; }
.default-image { 
	max-width: 300px;
	width: 100%; 
}
.res-header { display: none; }

/* Search Bar */
.header .nav .search-bar { position: relative; }
.header .nav .search-bar i {
	color: #757575;
	font-size: 10px;
	margin-left: 5px;
	margin-top: 7px;
	position: absolute;
}
.header .nav .search-bar input[type='text'] {
	border: none;
	height: 20px;
	padding-left: 21px;
	width: 141px;
}
.header .nav .search-bar input[type='submit'] { display: none; }

.pg { margin: auto; width: 972px; }

/* Ads */
.ads-container {
	background: url('images/new_images/ec_background.jpg') no-repeat;
	background-size: cover;
	height: 372px;
}
.ads-container .featured-product {
	margin-left: 433px;
	padding-top: 63px;
	text-align: left;
}
.ads-container:before { 
	background: url('images/new_images/ec_image2.png') no-repeat;
	background-position: 0 10px;
	background-size: 505px;
	content: '';
	display: block;
	height: 383px;
	position: absolute;
	width: 503px;
}
.ads-container .red-container { background-color: rgba(180, 3, 8, 0.66); padding: 17px 23px; }
.ads-container .red-container span {
	border-bottom: 1px solid #D5D5D5;
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto Condensed';
	font-size: 27px;
	letter-spacing: .5px;
	padding-bottom: 7px;
	padding-top: 2px;
}
.ads-container .red-container span:last-of-type { border: none; padding-bottom: 0; }

.ads-container .red-container .text-container { position: relative; width: 500px; }
.ads-container .red-container .text-container:after {
	background: url('images/new_images/featured_book.png');
	background-position: 0 0px;
	background-size: auto;
	content: '';
	display: block;
	height: 215px;
	margin-right: -140px;
	margin-top: -45px;
	position: absolute;
	right: 0;
	top: 0;
	width: 167px;
}
.ads-container .lower-container p {
	color: #FFFFFF;
	float: left;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	letter-spacing: .5px;
	margin-left: 23px;
	margin-top: 16px;
	width: 409px;
}
.ads-container .lower-container p em { display: block; }
.ads-container .lower-container p em:last-of-type { margin-top: 4px; }
.ads-container .lower-container a {
	background-color: #C1272D;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: 'Roboto Condensed Light';
	font-size: 14.5px;
	letter-spacing: .8px;
	margin-left: 28px;
	margin-top: 23px;
	padding: 4px 4px 0px;
	text-decoration: none;
	width: 226px;
}

.ads-container .lower-container a i {
	display: block;
	float: left;
	font-size: 44px;
	margin-left: 10px;
	margin-right: 13px;
}
.ads-container .lower-container a span { display: block; line-height: 17px; margin-top: 2px; }

.features { background-color: #5A5A5A }
.features .email {
	background-color: #4D4D4D;
	display: inline-block;
	float: left;
	font-family: 'Roboto Condensed';
	height: 146px;
	width: 259px;
}

.features .email input[type='text'] {
	border: none;
	display: block;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	height: 23px;
	letter-spacing: .5px;
	margin: auto;
	margin-top: 14px;
	text-align: center;
	width: 227px;
}
.features .email span {
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto Condensed Light';
	font-size: 14px;
	letter-spacing: 0.5px;
	margin: auto;
	margin-bottom: 7px;
	margin-top: 7px;
	width: 168px;
}
.features .email button {
	background-color: #C1272D;
	border: none;
	height: 38px;
	width: 225px;
}
.features .email button p { margin: 0; }
.features .email button i {
	display: block;
	float: left;
	font-size: 37px;
	margin-top: -4px;
	margin-left: 6px;
	color: #FFFFFF;
}
.features .email button span {
	font-size: 14px;
	margin-left: 5px;
	margin: 0;
	padding-top: 6px;
	width: 201px;
}
.features .email button:hover { cursor: pointer; }
.features .email button:focus { outline-color: #C1272D; }

.features .learn {
	border-right: 1px solid #777777;
	color: #FFFFFF;
	float: left;
	font-family: 'Roboto Condensed';
	letter-spacing: 1px;
	margin: 8px 0px 0 33px;
	padding-right: 8px;
	width: 284px;
}
.features .learn span:first-of-type {
	border-top: 7px solid #424242;
	display: block;
	font-size: 45px;
	letter-spacing: 2px;
	line-height: 46px;
	margin: auto;
	width: 205px;
}
.features .learn span:nth-of-type(2) { display: block; font-size: 24px; position: relative; }
.features .learn span:nth-of-type(2):before {
	background-color: #424242;
	content: '';
	display: block;
	height: 17px;
	letter-spacing: 1px;
	margin-left: 80px;
	margin-top: 7px;
	position: absolute;
	width: 17px;
}
.features .learn span:nth-of-type(2):after {
	background-color: #424242;
	content: '';
	display: block;
	height: 17px;
	margin-right: 80px;
	margin-top: 7px;
	position: absolute;
	right: 0;
	top: 0;
	width: 17px;
}
.features .learn span:last-of-type {
	border-bottom: 7px solid #424242;
	display: block;
	font-size: 30px;
	letter-spacing: 2px;
	margin: auto;
	padding-bottom: 3px;
	width: 205px;
}
.features .guide {
	float: right;
	margin-right: 7px;
	margin-top: 12px;
	width: 315px;
}
.features .guide ul { margin: 0; padding: 0; }
.features .guide ul li {
	color: #FFFFFF;
	font-family: 'Roboto Condensed Light';
	font-size: 20px;
	letter-spacing: 0.6px;
	list-style-type: none;
	margin-bottom: 7px;
	text-align: left;
}
.features .guide ul li:before {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #FFFFFF;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	content: '';
	height: 0;
	margin: 8px 0 0 -19px;
	position: absolute;
	width: 0;
}

.subs .learn { margin-left: 0; padding-right: 0; width: 185px; }
.subs .learn span:first-of-type { font-size: 40px; width: 123px; }

/* Featured Magazine */
.featured-magazine { background-color: #2C2C2C; }
.featured-magazine .container { text-align: left; padding: 5px; }
.featured-magazine p {
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 18px;
	letter-spacing: 1px;
	margin: 8px 14px 8px 0px;
	width: 135px;
}
.featured-magazine img { margin: 0 0 0 48px; vertical-align: sub; }
.featured-magazine img:first-of-type { width: 102px; }
.featured-magazine img:nth-of-type(2) { width: 111px; }
.featured-magazine img:nth-of-type(3) { width: 92px; }
.featured-magazine img:nth-of-type(4) { width: 139px; }
.featured-magazine img:last-of-type { vertical-align: middle; width: 74px; }

/* Social Buttons */
.social-button { text-align: left; }
.social-button i { color: #FFFFFF; font-size: 20px; margin-right: 10px; vertical-align: middle; }
.social-button a {
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto Condensed Light';
	font-size: 16px;
	letter-spacing: .5px;
	margin-right: 22px;
	text-align: center;
}
.social-button span:first-child {
	color: #2C2C2C;
	display: inline-block;
	font-family: 'Roboto Condensed Light';
	font-size: 22px;
	letter-spacing: .5px;
	margin-right: 27px;
	margin-top: 17px;
}

.social-button a:first-of-type { background-color: #3B5998; padding: 6px 28px; }
.social-button a:nth-of-type(2) { background-color: #4099FF; padding: 6px 14px; }
.social-button a:nth-of-type(3) { background-color: #C4302B; padding: 6px 10px; }
.social-button a:nth-of-type(4) { background-color: #2E4D6C; margin-right: 0; padding: 6px 20px; }
.social-button a:nth-of-type(2) i { margin-right: 7px; }

/* Categories */
.categories { background-color: #C1272D; }
.categories a {
	color: #FFFFFF;
	display: block;
	margin: 5px 17px 5px 12px;
	text-decoration: none;
	text-transform: uppercase;
}
.categories li:first-of-type a { margin-left: 0; }
.categories li:last-of-type { border-right: none; }
.categories li:last-of-type a i { font-size: 20px; margin-right: 5px; }
.categories a i { margin-left: 5px; }
.categories ul { margin: 0; padding-left: 0; text-align: left; }
.categories ul li {
	border-right: 1px solid #920608;
	color: #FFFFFF;
	display: inline-block;
	margin: 0 0 3px;
}

.blog-featured {
	background: url('images/new_images/blog_featured_bg.jpg') no-repeat;
	background-size: cover;
	height: 300px;
	padding-top: 25px;
}
.blog-featured .upper-blog-feature {
	background: rgba(176, 0, 0, 0.74);
	margin: auto;
	width: 605px;
}
.blog-featured .upper-blog-feature h2 {
	border-bottom: 1px solid #D5D5D5;
	color: #FFFFFF;
	display: inline-block;
	font-size: 47px;
	margin: 0;
	padding: 10px 61px 5px;
	letter-spacing: .5px;
}
.blog-featured .upper-blog-feature span {
	color: #FFFFFF;
	display: block;
	font-size: 21px;
	padding: 10px 0 29px;
	letter-spacing: -0.4px;
}

.blog-featured .newsletter-blog {
	background-color: #4D4D4D;
	margin: auto;
	width: 593px;
	margin-top: 15px;
}
.blog-featured .newsletter-blog h4 {
	color: #FFFFFF;
	font-family: 'Roboto Condensed Light';
	font-size: 17px;
	letter-spacing: .8px;
	margin: 0;
	padding: 5px 0;
}
.blog-featured .newsletter-blog > span:last-child {
	color: #919191;
	display: block;
	font-size: 12px;
	padding: 10px 0 15px;
}
.blog-featured .newsletter-blog input[type='text'] {
	border: none;
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	height: 26px;
	letter-spacing: .5px;
	margin: auto;
	margin-right: 2px;
	margin-top: 9px;
	text-align: center;
	width: 227px;
}
.blog-featured .newsletter-blog button {
	background-color: #C1272D;
	border: none;
	color: #FFFFFF;
	height: 28px;
	margin-top: 8px;
	vertical-align: bottom;
	width: 112px;
}
.blog-featured .newsletter-blog button i {
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
}
.blog-featured .newsletter-blog button span {
	display: inline-block;
	font-family: 'Roboto Condensed Light';
	font-size: 13px;
	vertical-align: bottom;
}

.products-featured { height: 216px; padding-top: 40px; }

/* Home */
.pag { background-color: #F9F9F9; padding-top: 0; }
.pag .pg h2 {
	font-size: 26px;
	letter-spacing: 1.7px;
	margin: 0;
	margin-bottom: 10px;
	text-align: left;
}
.pg tr { border-bottom: 1px solid #DEDEDE; display: block; margin-bottom: 10px; }
.pg tr:last-of-type { border-bottom: none; }
.pg table tbody tr { border: none; }
.pg table tbody td { padding-right: 30px; width: 34.66%; }
.pg table tbody td:last-of-type { padding-right: 0; }
.pg td a, .pg a:visited { color: #5A5A5A; text-decoration: none; }
.pg td a h3 { letter-spacing: .5px; text-align: left; }
 .pg td p { text-align: left; }

.pg .post-holder {
	background-color: #F2F2F2;
	min-height: 350px;
	padding: 5px 15px;
	position: relative;
}
.pg .post-holder .content { border-top: 1px solid #9C9C9C; min-height: 168px; padding-top: 15px; }
.pg .post-holder h3 { height: 60px; }
.pg .post-holder .a-blue {
	bottom: 15px;
	color: #C1272D;
	position: absolute;
	right: 10px;
}
.pg .post-holder .block {
	position: absolute;
	display: block;
	color: #C1272D;
	font-size: 14px;
	left: 10px;
	bottom: 15px;
}
.pg td .see-more {
	background-color: #C1272D;
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Roboto Condensed Light';
	font-size: 13px;
	letter-spacing: .5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0 28px;
}
.pg td .see-more:hover { text-decoration: none; }
.pg td .see-more i {
	font-size: 40px;
	margin-right: 8px;
	vertical-align: middle;
}

.pg .prod-release .post-holder h3 { min-height: 73px; }
.pg .prod-release td:last-of-type .post-holder img { margin-bottom: 11px; }

.pg .prod-release p { border-top: 1px solid #9C9C9C; min-height: 0; }
.pg .prod-release p:last-of-type { border: none; }
.pg .prod-release p:last-of-type a { margin-top: 10px; }
.pg .prod-details { height: 210px; padding: 0; text-align: left; }
.pg .prod-details li {
	list-style-type: none;
	margin-left: 30px;
	margin-top: 5px;
}
.pg .prod-details li:before {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #C1272D;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	content: '';
	height: 0;
	margin: 5px 0 0 -13px;
	position: absolute;
	width: 0;
}

.pg td p:last-of-type { text-align: center; }

/* Blog */
.blog { padding-bottom: 50px; }
.blog .posts {
	background-color: #F2F2F2;
	display: block;
	margin-bottom: 20px; 
	padding: 15px 25px;
}
.blog .posts tr:first-of-type { border-bottom: 1px solid #9C9C9C; }
.blog .posts tr:nth-of-type(2) td { text-align: left; }
.blog .posts strong { display: block; text-align: left; }
.blog .posts tr:nth-of-type(2) td p:nth-child(1),
.blog .posts tr:nth-of-type(2) td p:nth-child(2),
.blog .posts tr:nth-of-type(2) td p:nth-child(3),
.blog .posts tr:nth-of-type(2) td p:nth-child(4) { display: block !important; }
.blog .posts tr:nth-of-type(2) td p:nth-child(4n),
.blog .posts tr:nth-of-type(2) td p:nth-child(4n-1),
.blog .posts tr:nth-of-type(2) td p:nth-child(4n-2),
.blog .posts tr:nth-of-type(2) td p:nth-child(4n-3),
.blog .posts tr:nth-of-type(2) td form { display: none; }
.blog .posts tr:last-of-type td {
	background-color: #C1272D;
	float: right;
	padding: 5px 23px 5px 20px;
	width: 66px;
}
.blog .posts tr:last-of-type td a { color: #FFFFFF; font-family: 'Roboto Condensed Light'; font-size: 13px; }
.blog .posts tr:last-of-type td a i { font-size: 17px; margin-right: 5px; }
.blog .pagination { color: #5A5A5A; display: block; float: right; }
.blog .pagination .current {
	border-right: 1px solid #5A5A5A;
	display: inline-block;
	padding-right: 7px;
	text-decoration: underline;
}
.blog .pagination a {
	border-right: 1px solid #5A5A5A;
	color: #5A5A5A;
	display: inline-block;
	padding-right: 7px;
	padding-left: 4px;
	text-decoration: none;
}
.blog .pagination a:nth-of-type(2),
.blog .pagination a:nth-of-type(3),
.blog .pagination a:nth-of-type(4) { border-right: none; }

/* Article */
.article { background-color: #F2F2F2; display: block; padding: 15px 25px;  }
.article h2 { border-bottom: 1px solid #9C9C9C; padding-bottom: 10px; }
.new-balance { margin-top: 20px; }
.side-featured h4 {
	color: #5A5A5A;
	font-size: 18px;
	margin: 35px 0 5px 14px;
	text-align: left;
}
.side-featured .read-more i { font-size: 17px; margin-right: 5px; }
.side-featured .read-more a {
	background-color: #C1272D;
	color: #FFFFFF;
	float: right;
	font-family: 'Roboto Condensed Light';
	font-size: 13px;
	margin-right: 50px;
	padding: 5px 23px 5px 20px;
	width: 66px;
}
.side-featured .read-more a:hover { text-decoration: none; }
.side-featured ul { color: #424242; }
.side-featured ul li { 
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 10px;
	text-align: left;
}

/* Products */
.products .hph-featured {
	background-color: #F2F2F2;
	font-size: 18px;
	padding: 20px 25px;
	position: relative;
	text-align: left;
}
.products .hph-featured h3 {
	border-bottom: 1px solid #9C9C9C;
	color: #5A5A5A;
	font-size: 25px;
	letter-spacing: .5px;
	margin: 0;
	padding-bottom: 15px;
}
.products .hph-featured p:last-of-type { text-align: left; }
.products .hph-featured ol { padding-left: 21px; }
.products .hph-featured div { width: 385px; }
.products .hph-featured:after {
	background: url(/popup/new_popup/featured_product.png) no-repeat;
	background-position: 0 10px;
	background-size: 243px;
	content: '';
	display: inline-block;
	height: 291px;
	margin-right: 30px;
	margin-top: 27px;
	position: absolute;
	right: 0;
	top: 0;
	width: 240px;
}
.products .hph-featured .hph-price {
	bottom: 31px;
	position: absolute;
	right: 119px;
	text-align: center;
	width: 100px;
}
.products .hph-featured .hph-price span {
	display: block;
	font-weight: bold;
	margin-bottom: 2px;
}
.products .hph-featured .hph-price a {
	background-color: #C1272D;
	color: #FFFFFF;
	float: right;
	font-family: 'Roboto Condensed Light';
	font-size: 13px;
	margin-right: -5px;
	padding: 5px 28px 5px 25px;
	width: 65px;
}
.products .hph-featured .hph-price i { font-size: 17px; margin-right: 5px }

.products .posts-holder { display: inline-block; width: 100%; }
.products .posts {
	background-color: #F2F2F2;
	display: inline-block;
	margin: 15px 6px 0;
	min-height: 255px;
	padding: 17px;
	position: relative;
	vertical-align: top;
	width: 18%;
}
.products .posts img { width: 100% }
.products .posts .learn-more { 
	display: block;
    background-color: #c1272d;
    bottom: 11px;
    color: #FFFFFF;
    padding: 5px 15px;
    position: absolute;
    text-align: center;
    width: 60%;
}
.products .posts .content {  height: 185px; }

/* Sidebar */
.res-ec-section { display: none; }
.col-2-left { background: transparent; }
.ec-section td:last-of-type { width: 37%; }
.ec-section td:last-of-type a i {
    margin-right: 8px;
    font-size: 18px;
    font-weight: bold;
}
.ec-section td:last-of-type a:hover { text-decoration: none; }
.ec-section td p:last-of-type { margin-top: 5px; text-align: left; }
.ec-section td:last-of-type span:first-child { display: block; font-size: 20px; margin-bottom: 15px; }
.ec-section td:first-of-type { padding-right: 0; width: 10%; }
.ec-section td h3 { margin: 0; text-align: left; }
.ec-section td .read-full { color: #C1272D; display: block; text-align: left; }

.side-social { width: 230px; }
.side-social a {
	display: block;
	margin: 10px 15px;
	padding: 6px 20px !important;
	text-align: left;
}
.side-social a:nth-of-type(4) { margin-right: 15px; }
.side-social a:hover { text-decoration: none; }
.side-social a:first-of-type span { margin-left: 21px; }
.side-social span { color: #FFFFFF; margin-left: 15px; }

.side-features { margin: auto; width: 225px; }
.side-features .learn {
	border: none;
	margin: 13px;
	padding: 0;
	width: 205px;
}
.side-features .learn span:first-of-type { width: 146px; }
.side-features .learn span:last-of-type { border-bottom: 8px solid #424242; width: 146px; }
.side-features .learn span:nth-of-type(2):before { margin-left: 30px; }
.side-features .learn span:nth-of-type(2):after { margin-right: 30px; }
.side-features .guide { margin-top: 0; width: auto; }
.side-features .guide ul { margin-right: 25px; padding-left: 36px; }
.side-features .guide ul li { font-size: 13px; list-style-type: disc; }
.side-features .guide ul li:before { display: none; } 
.side-features .email { background: transparent; width: 100%; }
.side-features .email input[type='text'] { width: 180px; }
.side-features .email span { color: #929292; font-size: 13px; letter-spacing: 0; }
.side-features .email button { height: 32px; margin-top: 8px; width: 112px; }
.side-features .email button span { color: #FFFFFF; width: 103px; }

/* FOOTER
------------------------------------------------------------------------------*/
.upper-footer { background-color: #D5D5D5; }
.upper-footer .guide {
	float: left;
	line-height: 30px;
	margin-left: 60px;
	width: 362px;
	margin-top: 21px;
}
.upper-footer .guide ul li { color: #2C2C2C; font-size: 21px; }
.upper-footer .guide ul li:before {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #565656;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	content: '';
	height: 0;
	margin: 8px 0 0 -19px;
	position: absolute;
	width: 0;
}
.upper-footer .learn { margin: 8px 0px 8px 0; width: 242px; }
.upper-footer .learn span {
	border-top: 7px solid #5A5A5A;
	color: #2C2C2C;
	line-height: 40px;
	text-align: right;
	width: 204px;
}
.upper-footer .learn span:first-of-type,
.upper-footer .learn span:nth-of-type(2),
.upper-footer .learn span:last-of-type { font-size: 40px; line-height: 40px; margin: 0; }
.upper-footer .learn span:nth-of-type(2),
.upper-footer .learn span:last-of-type { border-top: none; }
.upper-footer .learn span:nth-of-type(2):before,
.upper-footer .learn span:nth-of-type(2):after { display: none; }
.upper-footer .email { height: 153px; width: 290px; }

#footer { background-color: #2C2C2C; }
#footer .container { text-align: left; }
#footer .container .text {
	font-family: 'Roboto Condensed';
	font-size: 18px;
	letter-spacing: 1px;
}
#footer .follow-eric { display: inline-block; vertical-align: top; }
#footer .follow-eric ul { margin: 0; padding: 0; }
#footer .follow-eric ul li {
	display: inline-block;
	margin-right: 13px;
	margin-top: 10px;
}
#footer .follow-eric ul li a {
	background-color: #FFFFFF;
	color: #2C2C2C;
	display: block;
	height: 10px;
	padding: 2px; 
	text-align: center;
	width: 10px;
}
#footer .follow-eric ul li i { font-size: 11px; }

#footer .footer-menu { display: inline-block; font-family: 'Roboto Condensed'; }
#footer .footer-menu span { font-size: 18px; }
#footer .footer-menu ul {
	display: inline-block;
	margin: 0;
	padding-left: 85px;
}
#footer .footer-menu ul li {
	list-style-type: none;
	margin-left: 30px;
	margin-top: 5px;
}
#footer .footer-menu ul li:before {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #C1272D;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	content: '';
	height: 0;
	margin: 5px 0 0 -13px;
	position: absolute;
	width: 0;
}
#footer .footer-menu ul li a {
	color: #AEAEAE;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	text-decoration: none;
}

#footer p {
	color: #7D7D7D;
	font-family: 'Roboto Condensed';
	font-size: 10px;
	margin-bottom: 0px;
	margin-top: 34px;
	text-align: center;
}

/* pop up design */
.fancybox-inner { margin: auto; }
.new-popup { width: 970px; }
.new-popup .featured-magazine p { font-size: 14px; margin-right: 0; }
.new-popup .featured-magazine img { margin: 0 0 0 36px; }
.new-popup .featured-magazine img:first-of-type { width: 83px; }
.new-popup .featured-magazine img:nth-of-type(2) { width: 99px; }
.new-popup .featured-magazine img:nth-of-type(3) { width: 78px; }
.new-popup .featured-magazine img:nth-of-type(4) { width: 123px; }
.new-popup .featured-magazine img:last-of-type { margin-right: 15px; width: 67px; }
.new-popup .bg-holder {
	background:url(/popup/new_popup/bg.jpg);
	background-size: cover;
	position: relative;
}
.new-popup .popup-data { color: #FFFFFF; height: 449px; margin-left: 110px; text-align: left; width: 448px; }
.new-popup .popup-data:after {
	background: url(/popup/new_popup/featured_product.png) no-repeat;
	background-position: 0 10px;
	background-size: 243px;
	content: '';
	display: inline-block;
	height: 291px;
	margin-right: 116px;
	margin-top: 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 240px;
}
.new-popup .popup-data h4 {
	font-size: 22px;
	letter-spacing: 1px;
	margin: 0;
	padding: 45px 0 0;
}
.new-popup .popup-data span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.52);
	display: block;
	font-size: 15px;
	padding-bottom: 5px;
	width: 309px;
}
.new-popup .popup-data p { font-size: 15px; }
.new-popup .popup-data ul { font-size: 15px; padding-left: 20px; }
.new-popup .popup-data ul li { margin-bottom: 14px; }

.new-popup .subscription {
	background-color: #161617;
	position: absolute;
	width: 100%;
	bottom: 30px;
}
.new-popup .subscription h4 {
	color: #FFFFFF;
	font-family: 'Roboto Condensed Light';
	letter-spacing: .5px;
	margin: 0;
	padding: 10px 0 0;
}
.new-popup .subscription .side-email form > span:last-child {
	display: block;
	font-size: 12px;
	padding: 5px 0 15px;
	color: #7f7f7f;
}
.new-popup .subscription  input[type='text'] {
	border: none;
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 13px;
	height: 23px;
	letter-spacing: .5px;
	margin: auto;
	margin-right: 2px;
	margin-top: 9px;
	text-align: center;
	width: 185px;
}
.new-popup .subscription p { margin: 0; padding-bottom: 2px; }
.new-popup .subscription button {
	background-color: #C1272D;
	border: none;
	color: #FFFFFF;
	height: 25px;
	margin-top: 8px;
	vertical-align: bottom;
	width: 97px;
}
.new-popup .subscription button i {
	display: inline-block;
	font-size: 16px;
	margin-right: 6px;
}
.new-popup .subscription button span {
	display: inline-block;
	font-family: 'Roboto Condensed Light';
	font-size: 12px;
	vertical-align: bottom;
}

/* TESTIMONIALS */
.bx-wrapper {
	float: left;
    margin-top: 20px !important;
	max-width: 430px !important;
	width: 100%;
}
.bx-wrapper .bx-viewport {
	color: #FFFFFF;
	float: left;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	letter-spacing: .5px;
	margin-left: 23px;
	margin-top: 16px;
	width: 409px;
}
.testimonials-widget-testimonials q { font-style:italic;}
.testimonials-widget-testimonials cite:before { content: " " !important;}
.testimonials-widget-testimonials cite .author,
.bx-wrapper .bx-controls .bx-controls-auto { display:none; }

/* WIDGET
----------------------------------------------------------------------------- */
#text-3 .widget-title,
#text-2 .widget-title { display: none; }
td #sidebar #text-2.widget_text .textwidget span:first-child {
	display: block;
	font-size: 20px;
	margin-bottom: 15px;
}

/* RESPONSIVE
----------------------------------------------------------------------------- */
@media (max-width: 1277px) {
	/* Header */
	.header { display: none; }
	.res-header { display: block; }
	.res-header h1 { float: left; margin-top: 27px; text-align: left; }
	.res-header nav {
		background-color: #5A5A5A;
		float: right;
		margin-top: 27px;
		padding: 10px 25px;
		position: relative;
		cursor: pointer;
	}
	.res-header nav > a span { margin-left: 10px; }
	.res-header nav:hover > .res-menu { display: block; z-index: 1; }
	.res-header .res-menu { display: none; }
	.res-header .res-menu a:first-of-type {
		color: #FFFFFF;
		display: block;
		padding: 5px 13px;
	}
	.res-header nav a:first-child { color: #FFFFFF;  padding: 5px 13px; }
	.res-header .res-menu {
		background-color: #5A5A5A;
		left: 0;
		margin-top: 10px;
		padding-left: 0;
		position: absolute;
		width: 100%;
	}
	.res-header .res-menu li {
		list-style: none;
		margin: 10px 0;
	}
}

/* Large devices (large desktops) */
@media (max-width: 1200px) {
	.container, .pg { margin: 0 20px; width: auto; }
	.social-button.container { margin: 0 13px; width: auto; }

	/* Ads */
	.ads-container { height: 296px; }
	.ads-container:before { background-size: 400px; }
	.ads-container .featured-product { margin-left: 356px; padding-top: 53px; }
	.ads-container .red-container span { font-size: 21px; }
	.ads-container .lower-container p { font-size: 13px; width: 369px; }
	.ads-container .lower-container p em { font-size: 11px; }

	.ads-container .red-container .text-container:after {
		background-size: 150px;
		height: 191px;
		margin-right: -57px;
		width: 149px;
	}
	.ads-container .lower-container a {
		font-size: 11px;
		margin-left: 9px;
		margin-right: 25px;
		margin-top: 21px;
		padding: 4px;
		width: 183px;
	}
	.ads-container .lower-container a i {  }

	.features .container { margin: auto; width: 963px; }

}

/* Medium devices (desktops) */
@media (max-width: 992px) {
	/* Header */
	.pg { margin: auto; width: auto; }
	.pg.home { margin: 0 20px; }
	.container { margin: 0 20px; width: auto; }

	/* Categories */
	.categories { display: none; }

	/* Featured Magazine */
	.featured-magazine img { margin: 0 0 0 3%; }
	.featured-magazine img:first-of-type { width: 78px; }
	.featured-magazine img:nth-of-type(2) { width: 96px; }
	.featured-magazine img:nth-of-type(3) { width: 80px; }
	.featured-magazine img:nth-of-type(4) { width: 119px; }
	.featured-magazine img:last-of-type { width: 63px; }

	.featured-magazine .container { margin: 0 2%; text-align: center; }

	/* Sidebar */
	td.col-2-right { display: none; }

	/* Ec Section */
	.res-ec-section { display: block; width: 752px; }
	.res-ec-section .ec-section { width: 100%; }
	.res-ec-section .side-social { text-align: center; width: 100%; }
	.res-ec-section .side-social a { display: inline-block; margin: 10px 5px; }
	.res-ec-section .side-social span { margin-left: 0; }

	/* Home */
	.ads-container:before { display: none; }
	.ads-container .featured-product { margin: auto; width: 644px; }
	.ads-container .red-container .text-container:after { margin-right: -83px; }

	.ads-container .lower-container a {
		margin-left: 29px;
		margin-top: 25px;
		padding: 4px 4px 0;
		width: 185px;
	}

	.features .container { width: auto; }
	.features .email { width: 50%; }
	.features .learn {
		border: none;
		margin: 8px 0px 0 0;
		padding-right: 0;
		width: 50%;
	}
	.features .guide { width: 75%; }
	.soc-but { display: none; }
	.main-social { margin: auto; }


	/* Footer */
	#footer .follow-eric,
	#footer .follow-eric span,
	#footer .follow-eric ul { display: block; text-align: center; }

	#footer .follow-eric { margin-bottom: 25px; }
	#footer .footer-menu ul { padding: 0 5%; text-align: left; }
	#footer .footer-menu { display: block; text-align: center; }

	.pg .post-holder { min-height: 407px; }
	.pg .post-holder h3 { font-size: 15px; }
	.pg .prod-details { height: 307px; }
}

/* Small devices (tablets) */
@media (max-width: 768px) {
	/* Header */
	.pg { margin: 0 20px; width: auto; }
	.container { margin: 0 20px; width: auto; }

	/* Feature Blog */
	.blog-featured .upper-blog-feature { margin: 0 15px; width: auto; }
	.blog-featured .upper-blog-feature h2 { font-size: 32px; padding: 10px 30px 5px; }
	.blog-featured .upper-blog-feature span { font-size: 18px; }
	.blog-featured .newsletter-blog { margin: 15px 15px 0; width: auto; }
	.blog-featured .newsletter-blog h4 { font-size: 14px; padding: 8px 0; }
	.blog-featured .newsletter-blog input[type='text'] { width: 205px; }

	/* Feature Magazine */
	.featured-magazine p {
		display: block;
		margin: 0 0 15px;
		padding-top: 11px;
		width: 100%;
	}
	.featured-magazine img:first-of-type { margin-left: 0; width: 67px; }
	.featured-magazine img:nth-of-type(2) { width: 85px; }
	.featured-magazine img:nth-of-type(3) { width: 67px; }
	.featured-magazine img:nth-of-type(4) { width: 106px; }
	.featured-magazine img:last-of-type { width: 58px; }
	.featured-magazine .container { padding-bottom: 10px; }

	/* Ec Section */
	.res-ec-section { display: block; width: auto; }
	.res-ec-section .side-social a span { display: none; }
	.res-ec-section .ec-section tr:last-of-type td { display: block; width: 100%; }
	.res-ec-section .ec-section td:last-of-type a i { margin-right: 0; }

	/* High Performance Handbook */
	.products .hph-featured { margin: 0 30px; }
	.products .hph-featured div { width: 100%; }
	.products .hph-featured:after {
		display: block;
		margin: auto;
		margin-bottom: 40px;
		position: static;
		width: 199px;
	}
	.products .hph-featured .hph-price { bottom: 17px; right: 41%; }

	/* Products */
	.products .posts {
		display: block;
		margin: auto;
		margin-top: 30px;
		min-height: auto;
		width: 200px;
	}
	.products .posts .content { height: auto; }
	.products .posts a { display: block; }
	.products .posts img { width: 200px; }
	.products .posts .learn-more {
		float: none;
		margin: auto;
		position: static;
		width: 36%;
	 }

	 /* Home */
	 .ads-container { height: 600px; }
	 .ads-container .featured-product { width: 80%; }
	 .ads-container .red-container .text-container { text-align: center; width: auto; }
	 .ads-container .red-container .text-container:after {
	 	top: 291px;
	 	right: 50%;
	 }
	 .ads-container .lower-container a {
		display: block;
		float: none;
		margin: 218px auto 0;
		padding-bottom: 5px;
	 }
	 .ads-container .lower-container p {
	 	display: block;
	 	float: none;
	 	text-align: center;
	 	width: auto;
	 }
	 .features .email { width: 100%; }
	 .features .learn { width: 100%; }

	.pag { width: 100%; }
	.pg.home { width: auto; }
	.pg table tbody td {
		display: block;
		margin-bottom: 10px;
		padding-right: 0;
		width: 100%;
	}

	.pg .post-holder { min-height: 312px; margin: 0 30px; }

	 /* iframe */
	 iframe { display: none; }

	/* image */
	p a img { height: auto; width: 100%; }

	/* Footer */
	#footer .footer-menu ul { display: block; margin-bottom: 25px; text-align: center; }
	#footer .footer-menu ul li { margin-left: 0; }
	#footer .footer-menu ul li:before { display: none; }
	
}

/*  PAGE STYLE */
.page-id-5439 .col-2-left { width: 100%; }
.page-id-5439 .col-2-right { display: none; }